<tr>
  <% function formatRevenue(revenue) { %>
    <%= revenue.toLocaleString('en-US', { minimumFractionDigits: 2 }) %>
      <% } %>
        <td class="page" id="page-3" style="overflow: hidden">
          <table>
            <tbody>
              <tr>
                <td>
                  <div class="page-content">
                    <div style="padding: 60px 70px 0px;">
                      <h1 class="cursive-heading" style="font-size: 1.5rem;line-height: 1.5;margin-bottom: 8px;">
                        Executive Summary</h1>
                      <div class="box" style="border: 1px solid var(--clr-primary-dark);">
                        <p
                          style="font-size: 1rem;line-height: 1.2; font-family: var(--font-body-text);letter-spacing: 0.05em;">
                          Jack, your Clermont vacation rental has strong potential, but with the right
                          strategy, it can outperform even a top competitors in the market. Your property’s
                          current revenue and occupancy trends indicate untapped opportunities that,
                          when addressed, will significantly boost returns. With the right pricing
                          adjustments, improved listing visibility, and refined guest experience, your home
                          can consistently command higher nightly rates while maintaining strong
                          occupancy. The competition is fierce, but your property is already in a strong
                          position—our goal is to ensure it doesn’t just compete but dominates.
                        </p>
                        <p
                          style="font-size: 1rem;line-height: 1.2; font-family: var(--font-body-text);letter-spacing: 0.05em;">
                          Luxury Lodging specializes in turning great listings into market leaders,
                          leveraging data-driven pricing, targeted marketing strategies, and operational
                          enhancements that translate directly into revenue growth. By refining the guest
                          experience, optimizing availability across platforms, implementing strategic
                          property upgrades, and ensuring your property is positioned as a top-tier
                          vacation rental, we’ll maximize both short-term gains and long-term success. The
                          path to higher earnings and a stress-free hosting experience starts here—let’s
                          elevate your property and turn it into a top-performing asset in Clermont.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- <img
            src="<%= propertyDetails.images[1] %>"
            class="border-image"
            style="
              width: 500px;
              height: 500px;
              position: relative;
              left: -100px;
              bottom: -60px;
            "
            alt="reload page"
          /> -->

                  <div style="position: absolute;overflow: hidden;width: 100%;bottom: 0;">
                    <img src="<%= propertyDetails.images[3] %>" class="border-image" style="
                  width: 400px;
                  height: 400px;
                  position: absolute;
                  top: 15px;
                  right: -5px;
                " alt="reload page" />
                    <div style="position: relative">
                      <img src="<%= propertyDetails.images[1] %>" class="border-image" style="
                    width: 475px;
                    height: 475px;
                    position: relative;
                    left: -60px;
                    bottom: 0;
                    top: 80px;
                    z-index: 1;
                  " alt="reload page" />
                    </div>
                    <!-- <img src="<%= BORDER_IMAGE %>" style=" position: absolute; right:
              293px; top: 6px; rotate: 89deg; transform: scale(.9);" " /> <img
              src="<%= BORDER_IMAGE %>" style=" position: absolute; right:
              -18px; rotate: 80deg; transform: scale(.9); bottom: -384px;" " /> -->
                  </div>

                  <%- include('./logo') %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
</tr>