<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+CO+Guides&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      @font-face {
        font-family: "Open Sans";
        src: url("/public/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
          format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Great Vibes";
        src: url("/public/fonts/Great_Vibes/GreatVibes-Regular.ttf")
          format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      :root {
        --clr-page-bg: #fefcf5;
        --clr-primary: #d6c27b;
        --clr-primary-dark: rgb(154, 117, 62);
        --font-body: "Open Sans", serif;
        /* --font-cursive: "Playwrite AU SA", serif; */
        --font-cursive: "Great Vibes", serif;
      }
      body {
        font-size: 1rem;
        background: linear-gradient(var(--clr-page-bg), var(--clr-page-bg))
            padding-box,
          linear-gradient(to right, var(--clr-primary), var(--clr-page-bg))
            border-box;
      }
      table {
        width: 100%;
      }

      table tr {
        vertical-align: top;
      }

      table tr td {
        vertical-align: top;
      }

      img {
        max-width: 100%;
      }
      .page-1-text h1::after {
        content: "";
        height: 1px;
        width: 70%;
        background: linear-gradient(to bottom, var(--clr-primary), #fff);
        display: block;
        position: relative;
        bottom: -8px;
      }
      .cursive-heading {
        font-family: var(--font-cursive);
        font-size: 3rem;
        line-height: normal;
        color: var(--clr-primary-dark);
        letter-spacing: -0.25px;
      }
      .page {
        background-color: var(--clr-page-bg);
        position: relative;
        padding: 8px;
        /* 11.6inches is matching pdf page (A4) height */
        height: 11.6in;
        page-break-before: always;
        overflow: hidden;
        display: flex;
      }

      .page-content {
        position: relative;
        width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
      }

      .box {
        padding: 18px 25px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: linear-gradient(var(--clr-page-bg), var(--clr-page-bg))
            padding-box,
          linear-gradient(to right, var(--clr-primary), var(--clr-page-bg))
            border-box;
        border: 1px solid transparent;
      }
      .box:last-child {
        margin-bottom: 0 !important;
      }
      .box.white {
        background: #fff;
        border-radius: 25px;
        border: 1px solid #e7e7e7;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      }
      .box.tinted {
        background: rgba(157, 145, 107, 0.5);
        color: white;
        font-weight: 700;
      }
      .box.tinted p {
        font-weight: 700;
      }
      .text-black,
      .text-black * {
        color: #000;
      }
      .box-label {
        padding-inline: 8px;
        background: linear-gradient(
          45deg,
          var(--clr-primary),
          var(--clr-primary-dark)
        );
        width: 100%;
        max-width: 250px;
        color: white;
        font-weight: 500;
        border-radius: 25px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
      }
      p {
        font-weight: 500;
        line-height: normal;
      }
      small {
        font-size: 12px;
      }
      td {
        line-height: 1;
      }
      .table-body-cell,
      .table-header-cell {
        border: 1px solid #e7e7e7;
      }
      .table-body-cell {
        background-color: #fff;
        padding: 8px;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .styled-table tbody tr:last-child td {
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
      }
      .border-image {
        border-radius: 100%;
        border: 14px solid #b79c5f;
      }
      @media print {
      }

      .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        /* padding: 30px 50px; */
      }
      .portfolio-grid img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <table
      style="
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        color: var(--clr-primary-dark);
      "
    >
      <tbody>
        <%- include('./intro') %>
        <tr>
          <td class="page" id="page-2">
            <div class="page-content" style="position: relative">
              <h1 class="cursive-heading">
                Elevating Your Rental into a Guest Magnet
              </h1>
              <div class="box">
                <p>
                  At Luxury Lodging, we see more than just a vacation rental—we
                  see an opportunity to elevate your property’s success and
                  maximize its earning potential. Your home at <%=
                  listingData.address %> has the foundation of a
                  strongperforming rental, but with the right strategy, it can
                  outperform market expectations and deliver higher returns. Our
                  expertise in dynamic pricing, market positioning, and guest
                  experience optimization will ensure that every available night
                  is booked at the best possible rate.
                </p>
                <p>
                  Partnering with us means gaining access to a proven system
                  that balances occupancy and revenue, adapts to market trends,
                  and sets your listing apart from competitors. Together, we’ll
                  transform your property into a top-performing short-term
                  rental. Let’s get started on this journey to greater success!
                </p>
              </div>

              <div
                style="
                  display: flex;
                  min-height: 610px;
                  align-items: end;
                  position: relative;
                  bottom: 0;
                "
              >
                <div style="position: relative; overflow: hidden">
                  <!-- Page 2 Image here -->
                  <img
                    src="<%= propertyDetails.images[1] %>"
                    class="border-image"
                    style="
                      width: 500px;
                      height: 500px;
                      position: relative;
                      left: -100px;
                      bottom: -60px;
                    "
                    alt="reload page"
                  />
                </div>
                <div style="position: relative">
                  <img
                    src="<%= propertyDetails.images[2] %>"
                    class="border-image"
                    style="
                      width: 300px;
                      height: 300px;
                      position: relative;
                      left: -167px;
                      top: -260px;
                    "
                    alt="reload page"
                  />
                  <img src="<%= BORDER_IMAGE %>" style=" position: absolute;
                  right: 100px; top: -247px; left: 80px;" " />
                </div>
              </div>
              <img
                style="position: absolute; bottom: 0; right: 0"
                src="<%= LOGO_URL %>"
                alt="reload page"
              />
            </div>
          </td>
        </tr>
        <%- include('./executiveSummary') %> <%- include('./revenueProjection')
        %> <%- include('./marketOverview') %> <%-
        include('./prospectPropertyOverview') %> <%- include('./topCompetitor')
        %>

        <tr>
          <td class="page" id="page-10">
            <div class="page-content">
              <h1 class="cursive-heading">Specific Competitor</h1>
              <h2
                style="
                  text-decoration: underline;
                  font-size: 24px;
                  color: rgba(215, 196, 128);
                  font-weight: 600;
                "
              >
                Santeetlah Lake Retreat w/ Dock: Walk to Water!
              </h2>
              <div class="box white text-black">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <img
                          style="width: 100%"
                          src="<%= PAGE_10_IMG %>"
                          alt="reload page"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tbody>
                    <tr>
                      <td colspan="100%">
                        <h6
                          style="font-size: 14px; color: #000; font-weight: 700"
                        >
                          Short Term Renting list overview
                        </h6>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="100%" style="padding-bottom: 12px">
                        <small
                          style="color: #000; line-height: 0.6; font-size: 10px"
                        >
                          Santeetlah Lake Retreat w/ Dock: Walk to Water!
                        </small>
                      </td>
                    </tr>
                    <tr style="text-align: center">
                      <td style="padding: 12px; border-radius: 4px">
                        <strong
                          style="
                            font-size: 24px;
                            margin-bottom: 0px;
                            display: block;
                            font-weight: 700;
                            color: #000;
                          "
                        >
                          $80k
                        </strong>
                        <small style="font-size: 10px">Revenue Potential</small>
                      </td>
                      <td
                        style="
                          padding: 12px;
                          border-radius: 4px;
                          border: 1px solid #e7e7e7;
                        "
                      >
                        <strong
                          style="
                            font-size: 14px;
                            margin-bottom: 0px;
                            display: block;
                            font-weight: 700;
                            color: #000;
                          "
                        >
                          190
                        </strong>
                        <small style="font-size: 10px">Revenue Potential</small>
                      </td>
                      <td
                        style="
                          padding: 12px;
                          border-radius: 4px;
                          border: 1px solid #e7e7e7;
                        "
                      >
                        <strong
                          style="
                            font-size: 14px;
                            margin-bottom: 0px;
                            display: block;
                            font-weight: 700;
                            color: #000;
                          "
                        >
                          $80k
                        </strong>
                        <small style="font-size: 10px">Revenue Potential</small>
                      </td>
                      <td
                        style="
                          padding: 12px;
                          border-radius: 4px;
                          border: 1px solid #e7e7e7;
                        "
                      >
                        <strong
                          style="
                            font-size: 14px;
                            margin-bottom: 0px;
                            display: block;
                            font-weight: 700;
                            color: #000;
                          "
                        >
                          $80k
                        </strong>
                        <small style="font-size: 10px">Revenue Potential</small>
                      </td>
                      <td
                        style="
                          padding: 12px;
                          border-radius: 4px;
                          border: 1px solid #e7e7e7;
                        "
                      >
                        <strong
                          style="
                            font-size: 14px;
                            margin-bottom: 0px;
                            display: block;
                            font-weight: 700;
                            color: #000;
                          "
                        >
                          $80k
                        </strong>
                        <small style="font-size: 10px">Revenue Potential</small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <table>
                <tbody>
                  <tr>
                    <td width="50%">
                      <div
                        class="box-label"
                        style="
                          height: 60px;
                          display: flex;
                          align-items: center;
                          gap: 10px;
                          max-width: 100%;
                        "
                      >
                        <span
                          style="
                            background-color: white;
                            color: var(--clr-primary);
                            font-weight: 400;
                            padding: 8px;
                            border-radius: 100%;
                          "
                        >
                          <i class="fa-solid fa-hand-holding-hand"></i>
                        </span>
                        <strong>RevPAR: $282.49 </strong>
                      </div>
                    </td>
                    <td width="50%">
                      <div
                        class="box-label"
                        style="
                          height: 60px;
                          display: flex;
                          align-items: center;
                          gap: 10px;
                          max-width: 100%;
                        "
                      >
                        <span
                          style="
                            background-color: white;
                            color: var(--clr-primary);
                            font-weight: 400;
                            padding: 8px;
                            border-radius: 100%;
                          "
                        >
                          <i class="fa-solid fa-hand-holding-hand"></i>
                        </span>
                        <strong>Listing Rating: 8.6/10 (vrbo) </strong>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="box">
                <p>
                  The Snowbird Creek Cabin competes well in the Robbinsville
                  market with a strong occupancy rate and solid annual revenue.
                  However , its market positioning is largely reliant on high
                  availability rather than premium pricing. While it benefits
                  from a scenic location and a high rating, its ADR is moderate,
                  and there is an opportunity to optimize pricing strategies to
                  further increase RevPAR.
                </p>
                <p>
                  To outperform this competitor, we will focus on strategic ADR
                  adjustments, leveraging dynamic pricing to align with peak
                  booking periods while maintaining competitive occupancy.
                  Additionally, we can enhance listing appeal by highlighting
                  unique features, optimizing the booking lead time, and oﬀering
                  curated guest experiences to drive higher nightly rates and
                  stronger revenue performance.
                </p>
              </div>

              <div
                class="image-section"
                style="position: relative; background-color: #000"
              >
                <img
                  src="<%= propertyDetails.images[7] %>"
                  alt="reload page"
                  style="
                    opacity: 0.7;
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                  "
                />

                <img
                  style="position: absolute; bottom: 0; left: 0"
                  src="<%= LOGO_WHITE_URL %>"
                  alt="reload page"
                />
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="page" id="page-11">
            <div class="page-content">
              <div
                class="image-section"
                style="position: relative; background-color: #000"
              >
                <h1
                  style="
                    text-transform: uppercase;
                    color: white;
                    position: absolute;
                    top: 30px;
                    left: 40px;
                  "
                >
                  Recommendations
                </h1>

                <img
                  src="<%= propertyDetails.images[8] %>"
                  alt=""
                  style="
                    opacity: 0.2;
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                  "
                />
              </div>

              <div class="box white">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    max-width: 500px;
                    gap: 20px;
                  "
                >
                  <span
                    style="
                      background: linear-gradient(
                        -45deg,
                        var(--clr-primary-dark),
                        var(--clr-primary)
                      );
                      color: #eae7e7;
                      font-weight: 400;
                      flex-shrink: 0;
                      border-radius: 100%;
                      height: 70px;
                      width: 70px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 25px;
                    "
                  >
                    <!-- <i class="fa-solid fa-hand-holding-hand"></i> -->
                    <img
                      width="40px"
                      height="40px"
                      src="<%= ICON_DOLLAR_CHART %>"
                      alt=""
                    />
                  </span>
                  <div
                    class="box-label"
                    style="
                      height: 40px;
                      display: flex;
                      align-items: center;
                      gap: 10px;
                      max-width: 100%;
                      margin: 0;
                      border-radius: 40px;
                    "
                  >
                    <strong>Maximize Revenue and Engagement </strong>
                  </div>
                </div>

                <ul
                  style="
                    list-style: none;
                    color: var(--clr-primary-dark);
                    line-height: 1.2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 0.9rem;
                  "
                >
                  <li>
                    <strong> Introduce a Themed Design: </strong>
                    Revamp the property's interiors with a cohesive Key
                    West-inspired theme to stand out in the market and attract
                    guests seeking a memorable experience.
                  </li>
                  <li>
                    <strong> Highlight Nearby Attractions: </strong>
                    Showcase proximity to popular locations like Duval Street
                    and Higgs Beach in listings, appealing to travelers looking
                    for convenience and accessibility.
                  </li>
                  <li>
                    <strong> Optimize Availability: </strong>
                    Extend the property’s availability by adjusting maintenance
                    schedules to capitalize on peak travel seasons and ensure
                    consistent bookings.
                  </li>
                  <li>
                    <strong> Implement Dynamic Pricing: </strong>
                    Use data-driven pricing models to adjust rates for peak and
                    offpeak periods, maximizing revenue while staying
                    competitive against top-performing listings.
                  </li>
                  <li>
                    <strong> Enhance Listing Descriptions: </strong>
                    Rewrite and optimize listing details to emphasize the
                    property’s unique features while integrating professional
                    photos to captivate potential guests.
                  </li>
                </ul>
              </div>
              <div class="box white">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    max-width: 500px;
                    gap: 20px;
                  "
                >
                  <span
                    style="
                      background: linear-gradient(
                        -45deg,
                        var(--clr-primary-dark),
                        var(--clr-primary)
                      );
                      color: #eae7e7;
                      font-weight: 400;
                      flex-shrink: 0;
                      border-radius: 100%;
                      height: 40px;
                      width: 40px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 25px;
                    "
                  >
                    <img
                      width="40px"
                      height="40px"
                      src="<%= ICON_DOLLAR_CHART %>"
                      alt=""
                    />
                  </span>
                  <div
                    class="box-label"
                    style="
                      height: 40px;
                      display: flex;
                      align-items: center;
                      gap: 10px;
                      max-width: 100%;
                      margin: 0;
                      border-radius: 40px;
                    "
                  >
                    <strong>Maximize Revenue and Engagement </strong>
                  </div>
                </div>

                <ul
                  style="
                    list-style: none;
                    color: var(--clr-primary-dark);
                    line-height: 1.2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 0.9rem;
                  "
                >
                  <li>
                    <strong> Introduce a Themed Design: </strong> Revamp the
                    property's interiors with a cohesive Key West-inspired theme
                    to stand out in the market and attract guests seeking a
                    memorable experience.
                  </li>
                  <li>
                    <strong> Highlight Nearby Attractions: </strong>
                    Showcase proximity to popular locations like Duval Street
                    and Higgs Beach in listings, appealing to travelers looking
                    for convenience and accessibility.
                  </li>
                  <li>
                    <strong> Optimize Availability: </strong>
                    Extend the property’s availability by adjusting maintenance
                    schedules to capitalize on peak travel seasons and ensure
                    consistent bookings.
                  </li>
                  <li>
                    <strong> Implement Dynamic Pricing: </strong>
                    Use data-driven pricing models to adjust rates for peak and
                    offpeak periods, maximizing revenue while staying
                    competitive against top-performing listings.
                  </li>
                  <li>
                    <strong> Enhance Listing Descriptions: </strong>
                    Rewrite and optimize listing details to emphasize the
                    property’s unique features while integrating professional
                    photos to captivate potential guests.
                  </li>
                </ul>
              </div>

              <div
                class="image-section"
                style="position: relative; background-color: #000"
              >
                <img
                  src="<%= propertyDetails.images[9] %>"
                  alt="reload page"
                  style="
                    opacity: 0.7;
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                  "
                />
              </div>

              <img
                style="position: absolute; bottom: 0; left: 0"
                src="<%= LOGO_WHITE_URL %>"
                alt="reload page"
              />
            </div>
          </td>
        </tr>

        <tr>
          <td class="page" id="page-12">
            <div class="page-content">
              <div
                class="box-label"
                style="
                  font-size: 28px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 10px;
                  padding: 30px 70px;
                  min-width: 400px;
                  margin: 0 auto;
                  border-radius: 40px;
                  text-transform: uppercase;
                  font-style: italic;
                "
              >
                <img
                  width="40px"
                  height="40px"
                  src="<%= ICON_HAND_HOLDIING_USERS %>"
                  alt=""
                />
                <strong style="font-size: 28px">Portfolio </strong>
                <img
                  width="40px"
                  height="40px"
                  src="<%= ICON_DOLLAR_CHART %>"
                  alt=""
                />
              </div>

              <div class="portfolio-grid">
                <% PORTFOLIO_IMAGES.forEach((image) => { %>
                <img src="<%= image %>" alt="Portfolio Image" />
                <% }) %>
              </div>
            </div>
          </td>
        </tr>

        <!-- <%- include('./faqs') %> -->

        <tr>
          <td class="page" id="page-14">
            <div
              class="page-content"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div
                style="
                  position: relative;
                  display: flex;
                  justify-content: center;
                "
              >
                <img
                  style="width: 776px; height: 674px"
                  src="<%= propertyDetails.images[4] %>"
                  alt=""
                />

                <img
                  style="
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                  "
                  src="<%= OVERLAY_IMAGE %>"
                  alt=""
                />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
