<tr>
  <td class="page" id="page-7" style="position: relative;">
    <%- include('./uis/badgeRight') %>
      <div>
        <div class="page-content padding-inline-50" style="padding-top: 20px;">
          <div style="padding: 0 30px;">
            <h1 class="cursive-heading" style="padding-bottom: 20px;font-size: 1.5rem;line-height: 1.5;">Prospect
              Property
              Listing Overview</h1>
            <h2 style="
              margin-bottom: 25px;
              text-decoration: underline;
              font-size: 28px;
              color: rgba(215, 196, 128);
              font-weight: 500;
              font-family: var(--font-body-text);
            ">
              <%= listingData.address %>
            </h2>
          </div>
          <div style="padding: 0 30px;">
            <div class="box white text-black" style="margin-bottom: 25px; padding-inline: 10px;">
              <table>
                <tbody>
                  <img src="<%= specificListing.middleSection %>" alt="" style="height: 120px;" />
                  <img src="<%= specificListing.heroSection %>" alt="" />
                  <img src="<%= specificListing.statSection %>" alt="" />
                  <div style="font-family: var(--font-body-text);">
                    <strong>LINK:</strong>
                    <a href="<%= specificListing.airbnbLink %>" target="_blank">
                      <%= specificListing.airbnbLink %>
                    </a>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
          <div style="padding: 10px 30px; display: flex; width: 100%;">
            <div style="margin-right: 20px; width: 100%;">
              <div class="box-label" style="
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                max-width: 100%;
                font-family: var(--font-body-text);
                font-weight: 500;
                padding-left: 15px;
              ">
                <!-- <span
                style="
                  background-color: white;
                  color: var(--clr-primary);
                  font-weight: 400;
                  padding: 8px;
                  border-radius: 100%;
                "
              > -->
                <!-- <i class="fa-solid fa-hand-holding-hand"></i> -->
                <div
                  style="display: flex; align-items: center; justify-content: center; gap: 10px; width: 50px; height: 50px;background-color: white;border-radius: 100%;">
                  <img width="30px" height="30px" src="<%= ICON_GEARS %>" alt="" />
                </div>
                <!-- </span> -->
                <span>Occupancy: <%= specificListing.occupancy %> %</span>
              </div>
            </div>
            <div style="width: 100%;">
              <div class="box-label" style="
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                max-width: 100%;
                font-family: var(--font-body-text);
                font-weight: 500;
                padding-left: 15px;
              ">
                <!-- <span
                style="
                  background-color: white;
                  color: var(--clr-primary);
                  font-weight: 400;
                  padding: 8px;
                  border-radius: 100%;
                "
              > -->
                <!-- <i class="fa-solid fa-hand-holding-hand"></i> -->
                <div
                  style="display: flex; align-items: center; justify-content: center; gap: 10px; width: 50px; height: 50px;background-color: white;border-radius: 100%;">
                  <img width="30px" height="30px" src="<%= ICON_HAND_HOLDIING_USERS %>" alt="" />
                </div>
                <!-- </span> -->
                <span>Rating: <%= specificListing.rating %> /5</span>
              </div>
            </div>
          </div>

        </div>
        <div class="image-section" style="position: relative; background-color: #000;height: 557px;">
          <img src="<%= propertyDetails.images[9] %>" alt="reload page"
            style="opacity: 0.3; height: 557px; object-fit: cover; width: 100%;" />

          <div class="box tinted" style="
            position: absolute;
            top: 75px;
            left: 50%;
            transform: translateX(-50%);
            width: 85%;
            border-radius: 48px;
          ">
            <% const randomOption=Math.floor(Math.random() * 2) + 1; const randomPage=Math.floor(Math.random() * (8 - 3
              + 1)) + 3; const overviewTexts={ 1: { intro: `Your property's online presence plays a crucial role in
              attracting bookings, and currently, it appears around page ${randomPage} in search results, indicating
              room for improved visibility. A guest rating of ${propertyDetails.rating}/5`, rating: { low: `presents an
              opportunity to enhance guest experience by addressing common feedback, improving amenities, and refining
              service quality. Strengthening these areas will help boost future ratings, increasing guest trust and
              conversion rates.`, high: `indicates a well-received property that instills confidence in potential
              guests. Maintaining this high rating requires consistent service excellence, personalized guest
              interactions, and strategic rate positioning to command premium bookings.` }, occupancy: { intro:
              `Additionally, with an occupancy rate of ${revPar}%`, low: `suggests an opportunity to refine pricing
              strategies, enhance listing visibility, and introduce targeted promotions to attract more bookings.
              Increasing demand requires a balance between strategic discounts and optimized rate adjustments to drive
              both occupancy and revenue.`, high: `reflects demand but also presents an opportunity to optimize ADR for
              even higher profitability. By fine-tuning pricing strategies, adjusting minimum stay requirements, and
              capitalizing on peak demand, the property can generate more revenue per booking.` }, conclusion: `Luxury
              Lodging will implement data-driven pricing strategies, listing enhancements, operational excellence, and
              search placement optimization to increase your property's visibility, attract high-value bookings, and
              drive stronger profitability. By refining your market positioning and continuously optimizing guest
              experience, we ensure that your property remains competitive while securing higher occupancy and revenue
              growth.` }, 2: { intro: `Your property's online presence is a key factor in attracting bookings, and
              currently, it appears around page ${randomPage} in search results, signaling an opportunity to improve
              visibility. A guest review rating of ${propertyDetails.rating}/5`, rating: { low: `suggests there's room
              to enhance guest satisfaction by addressing feedback, refining amenities, and improving service
              touchpoints. A stronger rating boosts booking confidence, leading to higher occupancy and ADR.`, high:
              `indicates a strong reputation that builds trust and attracts high-value bookings. To maintain this edge,
              consistent service quality, targeted guest engagement, and optimized ADR strategies will be essential.` },
              occupancy: { intro: `Additionally, with an occupancy rate of ${revPar}%`, low: `signals an opportunity to
              capture more bookings through enhanced pricing, improved search ranking, and refined booking incentives. A
              strategic combination of dynamic pricing and targeted marketing will help increase occupancy while
              preserving rate integrity.`, high: `demonstrates solid demand, but revenue potential can be further
              maximized by fine-tuning ADR, optimizing stay restrictions, and capitalizing on high-value booking
              windows. Shifting the focus from occupancy growth to profit-per-night strategies will push overall
              earnings higher.` }, conclusion: `Luxury Lodging will implement market-driven pricing strategies, listing
              enhancements, and advanced revenue management techniques to boost visibility, attract premium bookings,
              and drive long-term profitability. By continuously optimizing your property's positioning and guest
              experience, we ensure that it remains competitive while achieving higher occupancy and revenue potential.`
              } }; const selectedText=overviewTexts[randomOption]; %>
              <p
                style="font-size: 1.1rem; line-height: 1.1; font-weight: 500; letter-spacing: 0.6px; font-family: var(--font-body-text);">
                <%= selectedText.intro %>

                  <%= propertyDetails.rating <=4.8 ? selectedText.rating.low : selectedText.rating.high %>

                    <%= selectedText.occupancy.intro %>

                      <%= revPar <=55 ? selectedText.occupancy.low : selectedText.occupancy.high %>
              </p>
              <p
                style="font-size: 1.1rem; line-height: 1.1; font-weight: 500; letter-spacing: 0.6px; font-family: var(--font-body-text);">
                <%= selectedText.conclusion %>
              </p>
          </div>

        </div>
      </div>
      <div style="display: inline-block; z-index: 0">
        <img style="position: absolute; bottom: 1px; right: 18px" src="<%= LOGO_WHITE_URL %>" alt="reload page"
          width="120" />
      </div>
  </td>
</tr>
<tr>
  <td class="page" id="page-8" style="position: relative;">
    <%- include('./uis/badgeRight') %>
      <div>
        <div class="page-content padding-inline-50" style="padding-top: 48px;">
          <h1 class="cursive-heading" style="font-size: 1.2rem;line-height: 1.5;margin-bottom: 20px;padding: 0 30px;">
            Prospect Property Overview</h1>
          <h4 style="
          font-size: 1.2rem;
          color: rgba(215, 196, 128);
          font-family: var(--font-cursive);
          font-weight: 500;
          font-style: normal;
          letter-spacing: 2px;
          padding: 0 30px;
        ">
            Listing Notes
          </h4>
          <table style="padding: 0 30px;">
            <tbody>
              <tr>
                <td width="33.3%">
                  <% const overviewRandomOption=Math.floor(Math.random() * 3) + 1; const strategyTexts={ 1: { pricing: {
                    title: "Adaptive Pricing Strategy" ,
                    content: "Pricing should adjust to seasonal trends, maximizing revenue in peak periods while staying competitive in slower months. Dynamic pricing ensures ADR aligns with demand, securing high-value bookings year-round."
                    }, listing: { title: "Listing Appeal & Optimization" ,
                    content: "A well-crafted listing with professional photos, keyword-rich descriptions, and seasonal updates improves search ranking and conversions. Refreshing content and optimizing pricing boost visibility and guest engagement."
                    }, property: { title: "Property Enhancement" ,
                    content: "Properties that offer high-demand amenities attract more bookings. Enhancing guest comfort and convenience leads to higher ratings, better occupancy, and increased revenue."
                    } }, 2: { pricing: { title: "Seasonal Pricing Optimization" ,
                    content: "Aligning pricing with market demand and seasonal trends maximizes revenue potential while ensuring competitiveness year-round. Strategic rate adjustments help capture peak bookings and maintain steady occupancy during slower periods."
                    }, listing: { title: "Enhanced Listing Visibility & Appeal" ,
                    content: "High-quality photos, engaging descriptions, and optimized keywords improve search rankings and booking conversions. Regular updates and competitive pricing ensure the property remains highly visible and attractive to potential guests."
                    }, property: { title: "Guest-Driven Property Upgrades" ,
                    content: "Adding in-demand amenities like smart home features, workspace setups, or premium bedding increases guest satisfaction and revenue potential. Enhancing comfort and convenience helps secure more bookings and justify higher ADR."
                    } }, 3: { pricing: { title: "Demand-Based Pricing Strategy" ,
                    content: "Adjusting rates according to seasonality, market trends, and booking patterns ensures maximum revenue. Dynamic pricing helps capture peak demand while maintaining steady occupancy in slower months."
                    }, listing: { title: "Optimized Listing for Higher Conversions" ,
                    content: "Professional photos, compelling descriptions, and strategic keyword placement improve search rankings and guest engagement. Frequent updates and competitive pricing keep the property visible and attractive to potential guests."
                    }, property: { title: "Value-Boosting Property Enhancements" ,
                    content: "Upgrading with guest-preferred features like outdoor seating, luxury bedding, or entertainment options and experiences increases appeal. Well-targeted improvements lead to higher ratings, better occupancy, and stronger revenue growth."
                    } } }; const overviewText=strategyTexts[overviewRandomOption]; %>
                    <div class="box" style="
                  position: relative;
                  padding: 12px;
                  border: 1px solid #ddd;
                  min-height: 300px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  font-family: var(--font-body-text);
                ">
                      <span style="
                    position: absolute;
                    top: -10px;
                    left: 20px;
                    font-size: 1.3rem;
                    font-weight: 700;
                    background-color: white;
                    padding: 0 2px;

                  ">01</span>
                      <h6 style="color: var(--clr-primary-dark); font-size: 1.2rem">
                        <!-- <% if (listingData.totalClient > listingData.totalMarketAvg) {
                  %> ADR is Relatively High for Market Conditions <% } else { %>
                    Adaptive Pricing Strategy <% } %> -->
                        <%= overviewText.pricing.title %>
                      </h6>
                      <span style="font-size: 1.1rem">
                        <!-- <% if (listingData.totalClient > listingData.totalMarketAvg) {
                  %> While the rate is strong, it may be limiting occupancy
                  growth, requiring a balanced dynamic pricing approach to drive
                  better RevPAR. 
                  <% } else { %> 
                    Pricing should adjust to seasonal trends, maximizing 
                    revenue in peak periods while staying competitive in 
                    slower months. Dynamic pricing ensures ADR aligns with 
                    demand, securing high-value bookings year-round.
                  <% } %> -->
                        <%= overviewText.pricing.content %>
                          </p>
                    </div>
                </td>
                <td width="33.3%" style="padding-inline: 12px">
                  <div class="box" style="
                  position: relative;
                  padding: 12px;
                  border: 1px solid #ddd;
                  min-height: 300px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  font-family: var(--font-body-text);
                ">
                    <span style="
                    position: absolute;
                    top: -10px;
                    left: 20px;
                    font-size: 1.3rem;
                    font-weight: 700;
                    background-color: white;
                    padding: 0 2px;
                  ">02</span>
                    <h6 style="color: var(--clr-primary-dark); font-size: 1.2rem">
                      <%= overviewText.listing.title %>
                    </h6>
                    <span style="font-size: 1.1rem">
                      <%= overviewText.listing.content %>
                    </span>
                  </div>
                </td>
                <td width="33.3%">
                  <div class="box" style="
                  position: relative;
                  padding: 12px;
                  border: 1px solid #ddd;
                  min-height: 300px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  font-family: var(--font-body-text);
                ">
                    <span style="
                    position: absolute;
                    top: -10px;
                    left: 20px;
                    font-size: 1.3rem;
                    font-weight: 700;
                    background-color: white;
                    padding: 0 2px;
                  ">03</span>
                    <h6 style="color: var(--clr-primary-dark); font-size: 1.2rem">
                      <%= overviewText.property.title %>
                    </h6>
                    <span style="font-size: 1.1rem">
                      <%= overviewText.property.content %>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <h4 style="
          font-size: 1.2rem;
          color: rgba(215, 196, 128);
          font-family: var(--font-cursive);
          font-weight: 500;
          font-style: normal;
          letter-spacing: 2px;
          margin-top: 10px;
          padding: 0 30px;
        ">
            Opportunities
          </h4>
          <table style="padding: 0 30px;">
            <tbody>
              <tr>
                <td width="33.3%" style="padding-right: 12px">
                  <div style="position: relative; padding-right: 20px">
                    <div style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 3;
                    border-radius: 30px 12px 0px 30px;
                    height: 60px;
                    width: 80%;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "></div>
                    <div style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 1;
                    border-radius: 10px 10px 10px 10px;
                    height: 320px;
                    width: 35px;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "></div>

                    <span style="
                    height: 80px;
                    width: 80px;
                    border-radius: 100%;
                    border: 1px solid #e7e7e7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 30px;
                    font-size: 24px;
                    z-index: 3;
                    background-color: #fff;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
                  ">
                      <img src="<%= ICON_OPPORTUNITIES_1 %>" alt="" style="border-radius: 100%;" width="80px" />
                    </span>
                    <div class="box white" style="
                    position: relative;
                    z-index: 2;
                    padding: 12px;
                    padding-bottom: 25px;
                    border: 1px solid #e7e7e7;
                    min-height: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    text-align: center;
                    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
                    padding-bottom: 70px;
                    font-family: var(--font-body-text);
                  ">
                      <!-- <h6 style="color: var(--clr-primary-dark); font-size: 0.9rem">
                    RevPAR Optimization Through Balanced Pricing
                  </h6> -->
                      <span style="font-size: 1.1rem">
                        Implementing dynamic
                        pricing strategies and
                        targeted discounts during
                        off-peak periods can push
                        occupancy to a more
                        competitive level.
                      </span>
                    </div>
                  </div>
                </td>
                <td width="33.3%" style="padding-inline: 12px">
                  <div style="position: relative; padding-right: 20px">
                    <div style="
                    background-color: #9a753e;
                    z-index: 3;
                    border-radius: 30px 12px 0px 30px;
                    height: 60px;
                    width: 80%;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "></div>
                    <div style="
                    background-color: #9a753e;
                    z-index: 1;
                    border-radius: 10px 10px 10px 10px;
                    height: 320px;
                    width: 35px;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "></div>

                    <span style="
                    height: 80px;
                    width: 80px;
                    border-radius: 100%;
                    border: 1px solid #e7e7e7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 30px;
                    font-size: 24px;
                    z-index: 3;
                    background-color: #fff;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
                  ">
                      <img src="<%= ICON_OPPORTUNITIES_2 %>" alt="" style="border-radius: 100%;" width="80px" />
                    </span>
                    <div class="box white" style="
                    position: relative;
                    z-index: 2;
                    padding: 12px;
                    padding-bottom: 25px;
                    border: 1px solid #e7e7e7;
                    min-height: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    text-align: center;
                    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
                    padding-bottom: 70px;
                    font-family: var(--font-body-text);
                  ">
                      <!-- <h6 style="color: var(--clr-primary-dark); font-size: 0.9rem">
                    Enhancing Market Position with Key Amenities
                  </h6> -->
                      <span style="font-size: 1.1rem">
                        Addressing guest
                        feedback, improving
                        amenities + offerings,
                        and refining the guest
                        experience process can
                        boost ratings and
                        credibility.
                      </span>
                    </div>
                  </div>
                </td>
                <td width="33.3%" style="padding-left: 12px">
                  <div style="position: relative; padding-right: 20px">
                    <div style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 3;
                    border-radius: 30px 12px 0px 30px;
                    height: 60px;
                    width: 80%;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "></div>
                    <div style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 1;
                    border-radius: 10px 10px 10px 10px;
                    height: 320px;
                    width: 35px;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "></div>

                    <span style="
                    height: 80px;
                    width: 80px;
                    border-radius: 100%;
                    border: 1px solid #e7e7e7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 30px;
                    font-size: 24px;
                    z-index: 3;
                    background-color: #fff;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
                  ">
                      <img src="<%= ICON_OPPORTUNITIES_3 %>" alt="" style="border-radius: 100%;" width="80px" />
                    </span>
                    <div class="box white" style="
                    position: relative;
                    z-index: 2;
                    padding: 12px;
                    padding-bottom: 25px;
                    border: 1px solid #e7e7e7;
                    min-height: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    text-align: center;
                    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
                    padding-bottom: 70px;
                    font-family: var(--font-body-text);
                  ">
                      <!-- <h6 style="color: var(--clr-primary-dark); font-size: 0.9rem">
                    Leveraging Peak Seasonal Demand with Dynamic Pricing
                  </h6> -->
                      <span style="font-size: 1.1rem">
                        A strategic pricing
                        realignment using peak
                        season adjustments and
                        enhanced premium
                        offerings can drive ADR
                        closer to competitors.
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="image-section" style="position: relative; background-color: #000;height: 200px; margin-top: 30px;">
          <img src="<%= propertyDetails.images[6] %>" alt="reload page"
            style="opacity: 0.7; height: 200px; width: 100%; object-fit: cover" />
        </div>
        <div style="display: inline-block; z-index: 0">
          <img style="position: absolute; bottom: 0; right: 0" src="<%= LOGO_WHITE_URL %>" alt="reload page"
            width="130" />
        </div>
      </div>
  </td>
</tr>