<tr>
  <td class="page" id="page-7">
    <div>
      <div class="page-content">
        <h1 class="cursive-heading">Prospect Property Overview</h1>
        <h2
          style="
            margin-bottom: 25px;
            text-decoration: underline;
            font-size: 24px;
            color: rgba(215, 196, 128);
            font-weight: 600;
          "
        >
          <%= listingData.address %>
        </h2>
        <div class="box white text-black" style="margin-bottom: 25px">
          <table>
            <!-- <tbody>
              <tr>
                <td>
                  <img
                    style="width: 100%"
                    src="<%= PAGE_7_IMG_1 %>"
                    alt="reload page"
                  />
                </td>
                <td>
                  <img
                    style="width: 100%"
                    src="<%= PAGE_7_IMG_2 %>"
                    alt="reload page"
                  />
                </td>
              </tr>
            </tbody> -->
          </table>
          <table>
            <tbody>
              <tr>
                <td colspan="100%">
                  <h6 style="font-size: 14px; color: #000; font-weight: 700">
                    Short Term Renting list overview
                  </h6>
                </td>
              </tr>
              <tr>
                <td colspan="100%" style="padding-bottom: 12px">
                  <small style="color: #000; line-height: 0.6; font-size: 10px">
                    <%= listingData.address %>
                  </small>
                </td>
              </tr>
              <img src="<%= heroSection %>" alt="" />
              <img src="<%= middleSection %>" alt="" />
              <img src="<%= statSection %>" alt="" />
            </tbody>
          </table>
        </div>
        <table>
          <tbody>
            <tr>
              <td width="50%">
                <div
                  class="box-label"
                  style="
                    height: 60px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    max-width: 100%;
                  "
                >
                  <span
                    style="
                      background-color: white;
                      color: var(--clr-primary);
                      font-weight: 400;
                      padding: 8px;
                      border-radius: 100%;
                    "
                  >
                    <!-- <i class="fa-solid fa-hand-holding-hand"></i> -->
                    <img
                      width="40px"
                      height="40px"
                      src="<%= ICON_GEARS %>"
                      alt=""
                    />
                  </span>
                  <strong>RevPAR: $<%= revPar %></strong>
                </div>
              </td>
              <td width="50%">
                <div
                  class="box-label"
                  style="
                    height: 60px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    max-width: 100%;
                  "
                >
                  <span
                    style="
                      background-color: white;
                      color: var(--clr-primary);
                      font-weight: 400;
                      padding: 8px;
                      border-radius: 100%;
                    "
                  >
                    <!-- <i class="fa-solid fa-hand-holding-hand"></i> -->
                    <img
                      width="40px"
                      height="40px"
                      src="<%= ICON_HAND_HOLDIING_USERS %>"
                      alt=""
                    />
                  </span>
                  <strong
                    >Listing Rating: <%= propertyDetails.rating %> /5
                  </strong>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="image-section"
        style="position: relative; background-color: #000"
      >
        <img
          src="<%= propertyDetails.images[9] %>"
          alt="reload page"
          style="opacity: 0.3; height: 440px; object-fit: cover"
        />
        <div
          class="box tinted"
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 95%;
          "
        >
          <p>
            The property has a <%= (listingData.ocupancy * 100) >
            listingData.totalMarketAvg ? "Strong" : "Weak" %> occupancy rate
            compared to market trends, but its RevPAR and revenue potential
            suggest room for improvement. The ADR is competitive, yet it may be
            limiting bookings at a higher frequency, especially given the
            seasonal demand patterns in the market. Additionally, the market
            score (<%= listingData.marketScore %>) <%= listingData.marketScore <
            60 ? "indicates an underperforming location" : "indicates a" +
            "strong market location" %> meaning strategic pricing and targeted
            marketing efforts will be crucial in maximizing revenue to bridge
            this gap, Luxury Lodging will refine the pricing model with
            data-driven rate adjustments, leveraging competitive benchmarking to
            optimize ADR without sacrificing occupancy.
          </p>
          <p>
            Improving RevPAR will require increasing overall revenue by boosting
            nightly rates strategically during peak seasons while ensuring
            strong occupancy in off-peak months. Listing enhancements, such as
            improving the visual appeal of the listing, highlighting unique
            features, and offering length-of-stay discounts, will drive higher
            guest engagement and booking conversions. Additionally, focusing on
            dynamic pricing adjustments to align with demand fluctuations will
            ensure sustained profitability and stronger market positioning.
          </p>
        </div>
      </div>
    </div>
    <img
      style="position: absolute; bottom: 0; right: 0"
      src="<%= LOGO_URL %>"
      alt="reload page"
    />
  </td>
</tr>
<tr>
  <td class="page" id="page-8">
    <div class="page-content">
      <h1 class="cursive-heading">Prospect Property Overview</h1>
      <h4 style="font-size: 24px; color: rgba(215, 196, 128)">Listing Notes</h4>
      <table>
        <tbody>
          <tr>
            <td width="33.3%">
              <div
                class="box"
                style="
                  position: relative;
                  padding: 12px;
                  border: 1px solid #ddd;
                  min-height: 300px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                "
              >
                <span
                  style="
                    position: absolute;
                    top: -8px;
                    left: 20px;
                    font-size: 19px;
                    font-weight: 700;
                  "
                  >01</span
                >
                <h6 style="color: var(--clr-primary-dark); font-size: 1rem">
                  <% if (listingData.totalClient > listingData.totalMarketAvg) {
                  %> ADR is Relatively High for Market Conditions <% } else { %>
                  ADR is relatively low for market conditions <% } %>
                </h6>
                <p style="font-size: 16px">
                  <% if (listingData.totalClient > listingData.totalMarketAvg) {
                  %> While the rate is strong, it may be limiting occupancy
                  growth, requiring a balanced dynamic pricing approach to drive
                  better RevPAR. <% } else { %> While a low ADR does usually
                  bring up occupancy. Optimizing ADR, will bring in higher
                  quality guests and improve revenue. <% } %>
                </p>
              </div>
            </td>
            <td width="33.3%" style="padding-inline: 12px">
              <div
                class="box"
                style="
                  position: relative;
                  padding: 12px;
                  border: 1px solid #ddd;
                  min-height: 300px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                "
              >
                <span
                  style="
                    position: absolute;
                    top: -8px;
                    left: 20px;
                    font-size: 19px;
                    font-weight: 700;
                  "
                  >02</span
                >
                <h6 style="color: var(--clr-primary-dark); font-size: 1rem">
                  Lack of High-Demand Amenities
                </h6>
                <p style="font-size: 16px">
                  The listing is missing high-impact amenities which competitors
                  use to increase revenue.
                </p>
              </div>
            </td>
            <td width="33.3%">
              <div
                class="box"
                style="
                  position: relative;
                  padding: 12px;
                  border: 1px solid #ddd;
                  min-height: 300px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                "
              >
                <span
                  style="
                    position: absolute;
                    top: -8px;
                    left: 20px;
                    font-size: 19px;
                    font-weight: 700;
                  "
                  >03</span
                >
                <h6 style="color: var(--clr-primary-dark); font-size: 1rem">
                  Occupancy is good but can be optimized
                </h6>
                <p style="font-size: 16px">
                  At <%= listingData.occupancy * 100 %>%, there’s an opportunity
                  to increase stays, particularly by leveraging seasonal Demand.
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="font-size: 24px; color: rgba(215, 196, 128)">Opportunities</h4>
      <table>
        <tbody>
          <tr>
            <td>
              <div style="position: relative; padding-right: 20px">
                <div
                  style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 3;
                    border-radius: 30px 12px 0px 30px;
                    height: 60px;
                    width: 80%;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "
                ></div>
                <div
                  style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 1;
                    border-radius: 10px 10px 10px 10px;
                    height: 320px;
                    width: 35px;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "
                ></div>

                <span
                  style="
                    height: 80px;
                    width: 80px;
                    border-radius: 100%;
                    border: 1px solid #e7e7e7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 30px;
                    font-size: 24px;
                    z-index: 3;
                    background-color: #fff;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
                  "
                >
                  <i class="fa fa-user"></i>
                </span>
                <div
                  class="box white"
                  style="
                    position: relative;
                    z-index: 2;
                    padding: 12px;
                    padding-bottom: 25px;
                    border: 1px solid #e7e7e7;
                    min-height: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    text-align: center;
                    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
                    padding-bottom: 70px;
                  "
                >
                  <h6 style="color: var(--clr-primary-dark); font-size: 0.9rem">
                    RevPAR Optimization Through Balanced Pricing
                  </h6>
                  <p style="font-size: 0.9rem">
                    The property’s ADR is limiting revenue, and adjusting rates
                    strategically to align with peak demand periods will help
                    maximize RevPAR.
                  </p>
                </div>
              </div>
            </td>
            <td style="padding-inline: 25px">
              <div style="position: relative; padding-right: 20px">
                <div
                  style="
                    background-color: #9a753e;
                    z-index: 3;
                    border-radius: 30px 12px 0px 30px;
                    height: 60px;
                    width: 80%;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "
                ></div>
                <div
                  style="
                    background-color: #9a753e;
                    z-index: 1;
                    border-radius: 10px 10px 10px 10px;
                    height: 320px;
                    width: 35px;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "
                ></div>

                <span
                  style="
                    height: 80px;
                    width: 80px;
                    border-radius: 100%;
                    border: 1px solid #e7e7e7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 30px;
                    font-size: 24px;
                    z-index: 3;
                    background-color: #fff;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
                  "
                >
                  <i class="fa fa-user"></i>
                </span>
                <div
                  class="box white"
                  style="
                    position: relative;
                    z-index: 2;
                    padding: 12px;
                    padding-bottom: 25px;
                    border: 1px solid #e7e7e7;
                    min-height: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    text-align: center;
                    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
                    padding-bottom: 70px;
                  "
                >
                  <h6 style="color: var(--clr-primary-dark); font-size: 0.9rem">
                    Enhancing Market Position with Key Amenities
                  </h6>
                  <p style="font-size: 0.9rem">
                    The market data shows low availability of highvalue
                    amenities like hot tubs, adding such features can increase
                    nightly rates and attract more bookings.
                  </p>
                </div>
              </div>
            </td>
            <td>
              <div style="position: relative; padding-right: 20px">
                <div
                  style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 3;
                    border-radius: 30px 12px 0px 30px;
                    height: 60px;
                    width: 80%;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "
                ></div>
                <div
                  style="
                    background-color: rgba(209, 189, 120, 1);
                    z-index: 1;
                    border-radius: 10px 10px 10px 10px;
                    height: 320px;
                    width: 35px;
                    position: absolute;
                    top: 40px;
                    right: 0;
                  "
                ></div>

                <span
                  style="
                    height: 80px;
                    width: 80px;
                    border-radius: 100%;
                    border: 1px solid #e7e7e7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 30px;
                    font-size: 24px;
                    z-index: 3;
                    background-color: #fff;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
                  "
                >
                  <i class="fa fa-user"></i>
                </span>
                <div
                  class="box white"
                  style="
                    position: relative;
                    z-index: 2;
                    padding: 12px;
                    padding-bottom: 25px;
                    border: 1px solid #e7e7e7;
                    min-height: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    text-align: center;
                    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
                    padding-bottom: 70px;
                  "
                >
                  <h6 style="color: var(--clr-primary-dark); font-size: 0.9rem">
                    Leveraging Peak Seasonal Demand with Dynamic Pricing
                  </h6>
                  <p style="font-size: 0.9rem">
                    The market has clear seasonal highs and lows, and
                    implementing automated pricing strategies will ensure
                    optimal revenue capture without sacrificing occupancy
                  </p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="image-section"
        style="position: relative; background-color: #000"
      >
        <img
          src="<%= propertyDetails.images[6] %>"
          alt="reload page"
          style="opacity: 0.7; height: 200px; width: 100%; object-fit: cover"
        />
      </div>
      <img
        style="position: absolute; bottom: 0; left: 0"
        src="<%= LOGO_WHITE_URL %>"
        alt="reload page"
      />
    </div>
  </td>
</tr>
